* {
  box-sizing: border-box;
}

.sea-battle-container {
  height: 550px;
  width: 550px;
  margin: 200px auto;
  outline: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background:
    linear-gradient(
        to right,
        transparent 48px,
        black 48px,
        black 52px,
        transparent 52px
      )
      no-repeat,
    linear-gradient(
        to bottom,
        transparent 48px,
        black 48px,
        black 52px,
        transparent 52px
      )
      no-repeat,
    linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
  background-size:
    100% 100%,
    100% 100%,
    50px 50px,
    50px 50px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
}

.letters {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(10, 1fr);
}

.numbers {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.ships {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "a a . b . . c c c c"
    ". . . b . . . . . ."
    "d . . b . e e e . f"
    "d . . . . . . . . f"
    "d . . . . . . . . ."
    "d . . . . g . . . h"
    ". . . . . g . . . h"
    "i i . . . . . . . h"
    ". . . . . . . . . ."
    ". . . . j j j j j j";
}

.corner {
  background-color: black;
}

.letter,
.num {
  justify-self: center;
  align-self: center;
}

.ship {
  margin: 7px;
  outline: 3px solid black;
}

.ship:nth-of-type(1) {
  background-color: #81007f;
  grid-area: a;
}
.ship:nth-of-type(2) {
  background-color: #00ff01;
  grid-area: b;
}
.ship:nth-of-type(3) {
  background-color: #0000fe;
  grid-area: c;
}
.ship:nth-of-type(4) {
  background-color: #0000fe;
  grid-area: d;
}
.ship:nth-of-type(5) {
  background-color: #00ff01;
  grid-area: e;
}
.ship:nth-of-type(6) {
  background-color: #81007f;
  grid-area: f;
}
.ship:nth-of-type(7) {
  background-color: #81007f;
  grid-area: g;
}
.ship:nth-of-type(8) {
  background-color: #00ff01;
  grid-area: h;
}
.ship:nth-of-type(9) {
  background-color: #81007f;
  grid-area: i;
}
.ship:nth-of-type(10) {
  background-color: #fe0000;
  grid-area: j;
}
